[2015-01-07 11:09] Venzon commented on #16
@endroid thx for reply
I think it was false alarm
What I noticed is that there is required some padding around code so scanners can read code without problems
When tere was no enought padding space around code this 4th small square helps in reading barcode
Adding enough padding solved my problem with reading barcodes without 4th square

Best regards

[2015-02-26 08:28] davidromani commented on #17
@picks44 can you write how do you use the twig exetension?

[2015-02-26 08:44] davidromani commented on #18
Solved. It seems that Yosemite comes with PHP GD extension without PNG support.

Liip helps a lot! http://php-osx.liip.ch/

[2015-02-26 09:36] davidromani commented on #15
Is alpha channel working? I'm getting images without background transparency with this config:
[code]

[2015-02-26 10:00] davidromani commented on #15
Solved. Alpha channel valid range is [0, 127]

[2015-02-28 07:10] endroid commented on #17
Hi @picks44 it is not possible to pass a URL to the twig extension. It will always use a path relative to the host name of your application. The readme shows some examples of using the Twig extension.

[2015-07-02 19:44] endroid commented on #20
Hi @rakhnin, thank you for noticing. I agee this requirement is too strict and changed it to ~2.3 in 1.5.3. I hope that solves your problem.

[2015-07-02 20:00] rakhnin commented on #20
Thank you.

[2015-12-16 21:28] endroid commented on #24
Hi @merdes thank you for your input. I added the quotes in 1.5.5.

[2016-01-16 00:56] endroid commented on #25
Hi @sentenza. Good to read you found a solution to your problem. The constrains are indeed a bit loose. The latest release of this bundle now requires a version >= 1.5.7 of the library so all features used in the bundle up to now are guaranteed to be present.

[2016-01-29 08:16] camburns opened #26 "Namespace issue"
receiving this error from Symfony:

"Attempted to call function "imagettfbbox" from namespace "Endroid\QrCode".

[2016-01-29 08:55] #26 closed

[2016-04-08 22:58] endroid commented on #27
Hi @DevCG, thank you for noticing. I adjusted this behavior in version 1.6.4.

[2016-04-19 15:49] moroine opened #28 "Missing trait Symfony\Component\DependencyInjection\ContainerAwareTrait"
Hi,

I had an issue on the new release when I run `app/console cache:clear`

Here is the message error

Thank You !

[2016-04-24 18:20] endroid commented on #28
Thank you for noticing. I just added the requirement for the DI component so it requires the correct version when you run composer install. I added the ContainerAwareTrait to Symfony in 2.4.0 so that will be the minimum version.

[2016-04-24 18:20] #28 closed

[2016-04-28 21:24] ForeverGlory opened #29 "router, twig need default Parameter"
hi.
  twig.extension {{ qrcode_data_uri }} have default parameter, i think {{ qrcode_url }} and router.endroid_qrcode also need. So qrcode generated is unified.

[2016-05-29 07:30] endroid commented on #30
Hi @sooheib you can put in any string you would like to encode as a QR code.

[2016-05-30 21:09] endroid commented on #32
Hi @Sander-Toonen I added a small description to the tag for you (https://github.com/endroid/EndroidQrCodeBundle/releases/tag/2.0.0). Mainly the new release is a refactoring to reduce a lot of duplicate parameters passing code and only the qrcode_url and qrcode_data_uri have changed. Now these functions accept an options array.

[2016-05-31 06:54] Sander-Toonen commented on #32
Thanks!

[2016-07-09 09:51] Bukashk0zzz commented on #29
Have same problem with qrcode_url.
Always need write extension option for now. {{ qrcode_url('test', {'extension': 'png'}) }}

[2016-07-26 09:43] endroid commented on #29
@Bukashk0zzz The route parameters is now passed implicitly. @ForeverGlory the controller handling the URL generated by qrcode_url currently merges the URL parameters with the defaults determined in the factory.

[2016-07-26 09:43] #29 closed

[2016-11-03 12:44] zelding commented on #33
This seems to be a real issue, the composer.json only requires  PHP 5.3, but traits were introduced in 5.4. @endroid you should fix that ;)

[2016-11-08 21:33] endroid commented on #33
Hi @retamia thank you. I updated the requirements.

[2017-04-25 07:47] endroid commented on #35
Hi @bahbzz in version 2.x of the library you can use the writeFile method to save to a specific path.
The readme of https://github.com/endroid/QrCode gives an example.

FYI this bundle is abandoned and will be removed soon so please post any following questions there.

[2017-11-30 09:51] djbfmeel opened #1 "Composer require not working due to missing commit hash"
[code]

[2017-11-30 09:54] djbfmeel commented on #1
Are you moving this bundle? / wen are you tagging this?

[2017-11-30 10:09] endroid commented on #1
Hi @djbfmeel the bundle had been abandoned for quite a while (since QrCode v2.x it resides in the endroid/qrcode library). For QrCode v3.x I'm moving it back to a separate repository. The 3.x versions will be tagged as soon as I think they are stable.

[2017-11-30 10:09] #1 closed, assigned to endroid

[2017-11-30 10:12] djbfmeel commented on #1
Ok thanks!

[2017-11-30 10:12] endroid commented on #1
Update: I saw the tags of the old bundle were still present in packagist, so I removed the old tags to make sure composer will not look for non-existent versions.

[2017-11-30 10:22] djbfmeel commented on #1
Great!

[2017-12-04 15:15] ghost opened #2 "[DependencyInjection] QrCodeExtension not defined, thus not tagged as Twig extension"
As of right now, the class `QrCodeExtension` from `endroid/qrcode` is not defined as a service within this bundle, so it doesn't get tagged as a Twig extension. I'm not sure what the best way is to resolve this, but I've currently resolved it by defining it in my own application like this:
[code]

[2017-12-05 20:14] endroid commented on #2
Hi @hipio good point. I now made the twig extension service public.

[2017-12-05 20:14] #2 closed, assigned to endroid

[2017-12-11 11:05] joseadame opened #5 "Integrate the bundle in symfony 3.2"
Hi! I don't have Symfony Flex. I tried to put in my appKernel.php the following line:

new Endroid\QrCodeBundle\EndroidQrCodeBundle(),

but I have some errors:

`PHP Fatal error:  Uncaught Symfony\Component\DependencyInjection\Exception\InvalidArgumentException: A "tags" entry must be an array for service "Endroid\QrCodeBundle\Controller\" in services.yaml. Check your YAML syntax. in C:\Users\Jose

[2017-12-13 08:45] linaori commented on #5
You'll have to use 3.3+ for this bundle to work. You should update to 3.3 and then to 3.4 when you have a chance, because 3.2 maintenance is already ended.

[2017-12-13 09:17] #5 closed, assigned to endroid

[2018-01-02 15:23] perice commented on #1
Hi @endroid,

so it's not possible to continue using this bundle with Symfony < 3.3?

[2018-01-02 20:38] endroid commented on #1
Hi @perice I think the bundle in 2.x is compatible with Symfony < 3.3. You could try that.

[2018-01-03 08:39] ghost opened #8 "[REQUEST] Please create a new release (deprecation notices because of package rename)"
Since you decided to rename your packages, please also release a new version so that I can use the updated package with the corrected name. Right now I'm getting deprecation notices from composer that I cannot fix. :disappointed:

[2018-01-03 12:42] endroid commented on #8
Tagged as 3.1.1.

[2018-01-03 12:42] #8 closed, assigned to endroid

[2018-01-03 16:44] perice commented on #1
Hey @endroid,

I made it work with my ancient Symfony 2.7.

If you're using an older version of this bundle (version <3.0) and you want to keep using it, you have to:

1) composer.json - change "endroid/qrcode-bundle" to "endroid/qrcode": "~2.0" (this version worked for me)
2) AppKernel.php - change "new Endroid\Bundle\QrCodeBundle\EndroidQrCodeBundle()" to "new Endroid\QrCode\Bundle\QrCodeBundle\

[2018-01-03 20:35] endroid commented on #1
Good to hear the 2.x branch works for you and thank you for leaving a comment. Hope it also helps others!

[2018-01-04 15:48] davidromani opened #9 "Keep a BC v1.x branch"
Due to your git tag changes, it's impossible to keep a deprecated version (1.x) of your bundle inside a SF2 (legacy) project.

I can't upgrade to SF3, and I can't install this composer.json:
[code]
Because these problems:
[code]
[code]

What can I do to solve it? Thx.

[2018-01-04 20:05] endroid commented on #9
Hi @davidromani thank you for your question. In later versions of 1.x and throughout 2.x the bundle can be found inside the endroid/qr-code library. So you can install that library and register the bundle found there in your kernel. Please let me know if both are incompatible with your project. If your project is really too old maybe we can make a change on the 1.x or 2.x branch to make it work.

[2018-01-04 20:05] #9 closed, assigned to endroid

[2018-01-05 12:13] davidromani commented on #9
Thx @endroid but still not working, now I have a new problem. Check my steps:

1. I've replaced `"endroid/qrcode-bundle": "^1.0"` by `"endroid/qr-code": "^1.0"` in composer.json
2. I've executed a composer update with this result:

[code]

3. I've replaced `Endroid\Bundle\QrCodeBundle\EndroidQrCodeBundle()` by `Endroid\QrCode\Bundle\EndroidQrCodeBundle()` in AppKernel.php

And now I'm getting this

[2018-01-06 11:14] diriy opened #10 "PHP version dependency"
I tried to install the bundle with composer but it failed. I use PHP 7.1. The error message was the following:

  Package endroid/qr-code-bundle at version  has a PHP requirement incompatible with your PHP version (5.5.9)

Is there a way to use the bundle with PHP 7.1?

[2018-01-06 20:27] endroid commented on #10
Hi @diriy what version is it trying to install? The latest version (3.x) is specifically set up for PHP 7.1 and Symfony 3.4 / 4.0.

[2018-01-06 20:36] endroid commented on #9
Hi @davidromani could you give some more debug information, for instance the file / line / backtrace of where the error occurs? I've looked in the bundle in the 1.9.3 release but I could not find a endroid_qrcode.extension parameter or requirement, so it looks like something in your configuration but I can not reproduce your error, so I'm not sure.

[2018-01-06 21:05] diriy commented on #10
@endroid, I did just as you mentioned at the documentation.

[2018-01-06 22:31] endroid commented on #10
Looks like composer is trying to install an old version. What happens when you explicitly set the version to the latest available?

[2018-01-08 09:12] davidromani commented on #9
Solved.

It was an error in my code, sorry.

[2018-01-21 15:18] jeroendeleeuw commented on #10
That worked for me by explicitly defining the latest version: `composer require endroid/qr-code-bundle:3.1.2`. Thank you, however I now get the following error:

The memory_limit was already set to -1, to you know another option for increasing memory size during install? I also killed the Symphony server just to be sure, but it made no difference.

[2018-01-21 15:27] endroid commented on #10
@jeroendeleeuw I'm not sure. Did you try the following?

php -d memory_limit=-1 composer.phar ...

[2018-01-21 15:27] #10 closed, assigned to endroid

[2018-02-06 15:13] makai2016 opened #11 "can not generate multiple QrCodes at the same time"
$qrCode = $qrCodeFactory->create();
for ($i = 1; $i <= 10; $i++) {
    $text = uniqid();
    $qrCode->setText($text);
    $qrCode->writeFile(...);
}

The generated QR code is the same

[2018-02-12 20:16] endroid commented on #11
Hi @makai2016 thank you for noticing. This should be fixed in 3.2.6.

[2018-02-12 20:16] #11 closed, assigned to endroid

[2018-02-14 16:27] temp opened #12 "Incompatibility with Symfony 3.3"
The service.yaml uses the !tagged syntax, but this was introduced with Symfony 3.4.
In out Symfony 3.3 app the bundle was updated to 3.1.3, and failed afterwards.
I guess you should raise the minimum version to 3.4. But I can't say which Symfony Component is relevant for this...

[2018-02-14 20:41] endroid commented on #12
Hi @temp you're right, this syntax requires DI 3.4 so I updated the requirement. Thank you!

[2018-02-14 20:41] #12 closed, assigned to endroid

[2018-02-14 20:55] temp commented on #12
Hmm but this is a problem. Release 3.1.3 is still there, with invalid dependencies.
Is it possible to Re-release 3.1.3? Or completely remove it? Don't know if composer/packagist supports this somehow...
We will have to add 3.1.3 as conflicted, but this somehow sucks ;-)

[2018-02-15 09:20] temp commented on #12
Guess you should've released 3.1.4 with the old behaviour, for everybody using symfony < 3.4, and 3.2.0 with the new behaviour and the changed dependency.
Nevertheless, we added 3.1.3 to the conflicting packages, and we get 3.1.2, so works for us.

[2018-02-15 12:36] endroid commented on #12
Yes I understand what you mean but unfortunately the requirement was not detected at that time and it is bad practice in general to rewrite history or remove tags so I think for now you better set your requirement to a previous working version. I'm creating a better test suite so more conflicts like this will be detected earlier but unfortunately this can occur.

[2018-02-16 11:27] xorgxx opened #13 "Probleme to generate with twig [http, https]."
Hi,
this work :
[code]

but if i generate in HTTPS das not work :
[code]

i generate url in controller :
[code]

in twig :
`<img src="{{ qrcode_url( url ) }}"/>`

here is config :
[code]

can you help ?
Thank.

Ps: SF3.316, qrcode 2.4.0, Windows 10 64, PHP 5.6

[2018-02-16 12:44] endroid commented on #13
Hi @xorgxx what error do you get when you open the https url to your image directly in the browser?

[2018-02-16 13:43] xorgxx commented on #13
get no error just dont have png to read. if i open be http no probleme Qrcode there, but bu https i get nathink. (no png)

[code]

[2018-02-16 13:54] xorgxx commented on #13
Ok i got the probleme :

[code]

[2018-02-16 13:56] #13 closed, assigned to nobody

[2018-02-16 13:58] endroid commented on #13
Good to see you solved the issue. For more information regarding the validation reader you can look at the readme https://github.com/endroid/qr-code under "Build-in validation reader". I also added a method "setRoundBlockSize" recently to make sure the resulting QR code is sharp and more readable.

[2018-02-16 14:30] xorgxx commented on #13
Lake very mutch this but i'm still on PHP 5.6 and in think that your last version is on PHP 7 only.

[2018-03-14 11:33] creatiombe opened #15 "Support for symfony 2.8"
Hey there, i use symfony 2.8 LTS, the orders mails stopped working after i upgraded all my packages.  I noticed the support for 2.8 was dropped in favor for what?

Can this be fixed?

[2018-03-17 20:27] endroid commented on #15
Hi @creatiombe this library indeed does not support Symfony 2.8 because it makes use of more recent framework features. However, the bundle you find bundled in the endroid/qr-code library at version 2.x should still work for older Symfony versions so you could give that a try.

[2018-03-17 20:27] #15 closed, assigned to endroid

[2018-03-28 05:38] mvigneron opened #16 "Unable to generate a URL for the named route "qr_code_generate""
Hello,

I'm testing your bundle but I have an error "Unable to generate a URL for the named route "qr_code_generate"" with Twig Extension

Symfony : 3.4
endroid/qr-code-bundle : 3.2

Config :
[code]

Twig
`<div class="qrcode"><img src="{{ qr_code_url('https://www.onespot.io')}}" /></div>`

I saw the same issue on StackOverflow (https://stackoverflow.com/questions/44559897/endroid-qr-code-in-twig-i

[2018-03-28 11:50] dpylypen commented on #16
I have the same problem. Thx.

[2018-04-02 19:23] endroid commented on #16
Hi @mvigneron, version 3.2 does not provide any routing annotations. Instead you can load the routing as described [here](https://github.com/symfony/recipes-contrib/blob/master/endroid/qr-code-bundle/3.0/config/routes/endroid_qr_code.yaml). If you have Flex installed it will do this for you. I notice this is not clear for everyone so I will update the readme.

[2018-04-02 19:23] #16 closed, assigned to endroid

[2018-04-06 15:07] botonddombi opened #17 "qr_code_data_uri"
Hey!

In a twig template i use {{ qr_code_data_uri('www.google.com') }} but it returns an empty string it seems.
However going to the link <my-site-url>/qr-code/www.google.com.png?size=600 will generate the qr code.

Can you advise me what am i doing wrong?

Thank you in advance!

[2018-04-06 16:17] #17 closed, assigned to endroid

[2018-08-08 00:03] Telous opened #18 "Generate via factory (question)"
Hi,

i'm try to use the 'Generate via factory', but i have a question: how is exactly this works?
 i need create a service to use this? if this is so, what are the parameters to use?

$qrCode = $qrCodeFactory->create('QR Code', ['size' => 200]);

**$qrCodeFactory**, where this variable points?

On use:
"symfony/symfony": "3.4.*",
"endroid/qr-code-bundle": "^3.2",

[2018-08-15 15:42] kolyadin commented on #18
I'm interested too

[2018-08-17 22:04] endroid commented on #18
Hi @Telous when you install the latest version of the bundle it automatically registers the factory as a service which you can use in any other service. Just use the QrCodeFactory type hint inside your controller (or another service) and autowiring (or explicit wiring via a service definition) makes sure you get an instance to work with.

Please note in the latest version of the bundle the factory

[2018-08-17 22:04] #18 closed, assigned to endroid

[2018-08-22 10:06] wukchao opened #19 "add logo cann't scan qrcode"
add logo cann't scan qrcode,

[2018-08-22 10:58] endroid commented on #19
Hi @wukchao please provide a code example and / or the exact error you get so I can try to reproduce and solve the problem.

[2018-08-22 14:42] wukchao commented on #19
sorry ,no problem ,that is error_correction_level  too low

[2018-08-22 14:42] #19 closed, assigned to endroid

[2018-11-21 13:49] gulaandrij opened #20 "symfony 4.2"
When I updated to symfony v4.2.0-BETA2 I got this error
[code]

Can you suggest decision?

[2018-11-21 13:49] gulaandrij commented on #20
on symfony 4.1.7 works fine

[2018-11-22 16:22] gulaandrij commented on #20
ping @endroid

[2018-11-22 17:31] endroid commented on #20
Sorry I didn't have the time yet, I'll try to look at your question asap

[2018-11-24 13:44] endroid commented on #20
Hi @gulaandrij thank you for your question. Unfortunately I don't have SF 4.2 beta installed but the factory should not have a dependency on the binarywriter service. What version of the qr-code and qr-code-bundle do you have installed? And what does the service definition in src/Resources/config/services.yaml say?

[2018-11-24 18:27] gulaandrij commented on #20
endroid/qr-code-bundle: 3.3.1
endroid/qr-code: 3.4.6

[code]

[2018-11-24 21:55] endroid commented on #20
The services.yaml file should contain the service definitions, not the package configuration. Are you sure those are the contents? Make sure they look like this: https://github.com/endroid/qr-code-bundle/blob/master/src/Resources/config/services.yaml and check if they are loaded correctly, for instance by executing "bin/console debug:container Endroid\\QrCode\\Writer\\BinaryWriter" or by debugging

[2018-11-24 21:55] #20 closed, assigned to endroid

[2018-11-30 12:58] endroid commented on #20
Hi @gulaandrij Symfony 4.2 was released today and I am able to reproduce the issue. Apparently the reference to the writer is lost just before inserting the writers so I now mark classes implementing WriterInterface as public to make sure they remain available during wiring.

This workaround solves the issue. You can check release 3.3.3.

[2018-12-18 11:56] dpylypen opened #21 "Does not work link"
Does not work https://github.com/symfony/recipes-contrib/tree/master/endroid/qr-code-bundle

[2018-12-24 23:50] endroid commented on #21
Thank you, I updated the readme.

[2018-12-24 23:50] #21 closed, assigned to endroid

[2019-01-05 00:09] labgua opened #22 "Missing HOW to configure the plugin in the doc"
Perfect integration, I congratulate you!
But a simple thing .... why not write in the documentation HOW to configure it?
The files in .install/symfony/config must simply copy and paste in the config dir for a quick run in project!

I lost half an hour to understand why the twig environment doesn't found the  `qr_code_generate` function.

[2019-01-14 22:30] endroid commented on #22
Hi @labgua thank you. The library should automatically install itself via endroid/installer, including the files in the directory you mentioned so I guess something went wrong.

What version of Symfony are you using and what version of the library did you install? Please provide the versions from composer.lock for endroid/qr-code, endroid/qr-code-bundle and endroid/installer and describe the steps

[2019-02-22 13:36] metalmini commented on #22
The installer does not work as intended, after composer requiring it says:

[code]
But the config files are not moved to the correct location.

[2019-02-23 13:58] endroid commented on #22
Hi @metalmini that message is from Flex so it is not related to my installer. Do you see any other output? If no files were copied, it should probably output something like "Endroid Installer did not detect a compatible project type for auto-configuration".

[2019-02-27 10:51] metalmini commented on #22
Nope nothing else

[2019-02-27 14:23] endroid commented on #22
That's strange. What version of the qr-code library and the endroid/installer library were installed according to your composer.lock?

[2019-03-04 11:06] metalmini commented on #22
` "name": "endroid/installer",
            "version": "1.0.8",`
`            "name": "endroid/qr-code",
            "version": "3.5.4",`

[2019-03-18 13:55] endroid commented on #22
@metalmini Looks correct, strange but I can imagine there could be some edge cases or different behavior in different environments so I added a reference to the installation directory to the installation section of the readme. Thank you for your input.

[2019-03-18 13:55] #22 closed, assigned to endroid

[2019-04-03 08:50] Shoplifter opened #23 "Deprecation: A tree builder without a root node is deprecated since Symfony 4.2 and will not be supported anymore in 5.0."
![image](https://user-images.githubusercontent.com/1181094/55465722-05de0000-55fe-11e9-9631-e39a34f615ee.png)
[code]
might be replaced with
[code]

[2019-04-04 07:02] endroid commented on #23
Hi @Shoplifter thank you, I updated the code so it should now support all versions.

[2019-04-04 07:02] #23 closed, assigned to endroid

[2019-07-03 07:43] deezaster commented on #23
Could you please create a new release? When i install the bundle with the composer i get a old 3.3.3 version.

[2019-07-03 18:32] endroid commented on #23
Hi @deezaster of course, I tagged the current master as 3.3.4.

[2019-08-10 05:52] PaddyLock opened #24 "Route for qr_code_url not loaded as described in docs"
I have seen the similar issue #16 and also tried the same as described in the docs by adding the following to my routing.yml
[code]

This also did not work for me. I looked at the bundle code and GenerateController has no route annotations.

The link to the solution in #16 goes to a 404 page, so I don't know why the issue was closed.

I am using Symfony 3.4

My solution is was add the following to

[2019-08-11 08:02] endroid commented on #24
Hi @PaddyLock you should let the installer install the files or copy the files as indicated in the [readme](https://github.com/endroid/qr-code-bundle), then the routing file should look like this: https://github.com/endroid/qr-code-bundle/blob/master/.install/symfony/config/routes/endroid_qr_code.yaml. Where did you find the routing definition you described above, maybe you are looking in an older

[2019-08-12 06:53] PaddyLock commented on #24
Hi @endroid As stated I am using Symfony 3.4 which does not use flex. The link provided in your docs for the recipe is a 404 - https://github.com/symfony/recipes-contrib/tree/master/endroid/qr-code-bundle
I copied the routing I used from the bundles routes.yml and edited it to prefix `/qr_code_url` in the path.
Please let me know what I am supposed to do for Symfony 3.4

Thanks

[2019-08-12 07:01] PaddyLock opened #25 "Beginning of URL changed for some scanners"
Hello, I am able to generate the QR codes correctly and they work on QR code scanner Apps, and on the IOS camera built in QR scanner. However on some handheld scanners they seem to add additional characters at the beginning of the scanned QR code URL.
The beginning of the resulting url is converted from `https://` to `000026https//`
I have checked the code where I am creating the url and I am not

[2019-08-12 07:10] endroid commented on #24
@PaddyLock Yes I read you use Symfony 3.4 but which version of the bundle are you using? Versions since april 2018 should not require Flex (that is why the recipes were removed) and should support Symfony 3.4 so maybe something else is wrong.

[2019-08-12 07:19] endroid commented on #25
Hi @PaddyLock I do not have the scanner you mentioned so I am not able to reproduce or fix this issue given the description but if other scanners (and the built in validator) give the correct string I don't think something is wrong with the QR code. Maybe you could try varying the error correction level or size to see if results are different and send the problematic QR code image to Metrologic. I

[2019-08-12 07:19] #25 closed, assigned to endroid

[2019-08-12 08:02] PaddyLock commented on #24
@endroid I am using `"endroid/qr-code-bundle": "^3.3"`

[2019-08-12 08:13] endroid commented on #24
Hi @PaddyLock that is just the requirement. You can find the installed version in your composer.lock.

[2019-08-12 08:15] PaddyLock commented on #24
@endroid 3.3.4

[2019-08-12 09:52] endroid commented on #24
Ok, good to see you use the latest version. If the installer (not Flex) did not copy the files from the .install folder into your project, you can manually copy them as described in the installation section of the readme. Did you try that? Please make sure you put the configuration / routing files with your other application / bundle configuration files so you are sure they can be found by your ap

[2019-08-25 15:28] #24 closed, assigned to endroid

[2019-09-05 19:18] endroid commented on #26
Same as https://github.com/endroid/qr-code/pull/210

[2019-11-03 13:05] qdequippe opened #27 "Unable to install dev dependency bundle test"
Hi,

I would like to contribute to this bundle but when I run `composer install` on the bundle I have this error:

[code]

Any idea how to install it?

[2019-11-06 08:55] endroid commented on #27
Hi @qdequippe the bundle-test has been replaced recently. I updated the dependencies, but I still have to make some changes to make it work with the generic test lib. In other words, you have no running test suite at the moment? What do you want to contribute? If it is a small change I can do the testing on my side for now. If it's a bigger change it's good to discuss before you start and maybe wa

[2019-11-06 09:05] qdequippe commented on #27
Hi @endroid thanks for your reply. I would like to make a small contribution, I would like just to improve the Twig extension using the latest Symfony features (for example using `RuntimeInterface`). Maybe for this I will need to upgrade Twig version so it could be a bigger change for the bundle.

[2019-11-08 16:54] qdequippe commented on #27
@endroid do you think it's a big change? I can do it without test suite

[2019-11-09 09:44] endroid commented on #27
Hi @qdequippe it is still a bit vague. What is the exact goal of your change / what are the issues you are facing at the moment? You can always just create a pull request and I will look at it. If I think it is useful for the bundle I will merge it.

[2019-11-12 20:13] qdequippe commented on #27
@endroid done #28

[2019-11-12 20:59] #27 closed, assigned to endroid

[2019-11-12 21:00] endroid commented on #27
Thank you @qdequippe nice contribution! I have merged it to master, only have to test it before I tag it :)

[2019-11-13 17:05] qdequippe commented on #27
thank you @endroid it's just a small contribution 😀

[2019-11-18 06:35] endroid commented on #29
Thank you!

[2019-11-20 19:22] will5436 opened #30 "There is no extension able to load the configuration for "endroid_qr_code""
I tried to add the bundle manually but nothing seem to work

[2019-11-20 19:33] #30 closed, assigned to endroid

[2019-12-03 13:28] resper opened #32 "Generate jpg Images?"
Hello,
I am using this extension to generate QR Codes, which I use with dompdf. But dompdf works faster with jpg images. How can I generate jpg QR Codes?

[2019-12-03 13:38] endroid commented on #32
Hi @resper a JPG writer is not included but you can create one yourself. You can simply copy or extend the PNG writer you find in the endroid/qr-code library and convert the resulting image to JPG.instead.

[2019-12-04 16:50] resper commented on #32
Can I just make a fork, edit it and install my version with the composer? I am not so familiar with symfony and bundles.

[2019-12-04 19:57] endroid commented on #32
You can also just create the writer class. But if you want to create a fork that is also possible: just push the fork button and add a "repositories" section in your project's composer.json so it loads the resources from your forked package. Like this.

[code]

Best practice is to create a specific branch containing your changes and change the require statement to "endroid/qr-code-bundle": "dev-br

[2019-12-04 19:57] #32 closed, assigned to endroid

[2019-12-08 21:37] skmedix opened #33 "Symfony 4.3+ deprecation"
The _if statement_ for `getRootNode()` was correct before https://github.com/endroid/qr-code-bundle/commit/a2911e45192f7597d7367d9d557caf2aa24ccddc. Since that change Symfony throws deprecation notes, as current logic always uses deprecated func instead of new one. It's not a problem for 5.0, as func `root()` is removed there, but 4.4 is LTS and it's pretty annoying. Thanks.

---

[code]

![image]

[2019-12-16 14:24] endroid commented on #33
Hi @skmedix thank you. This should be fixed in 3.4.1.

[2019-12-16 14:24] #33 closed, assigned to endroid

[2020-06-22 15:39] fun2life opened #35 "Dependencies"
Can you tell me what php libraries the bundle depends on or how else to solve this error?
When I run the script locally it all works fine, but on my server I get the following error when I try to generate a QR code via Twig, both in prod and dev mode:

The option "/qr-code/https:/MYDOMAIN/meinequittung?hash" does not exist. Defined options are: "background_color", "encoding", "error_correction_lev

[2020-06-23 07:42] endroid commented on #35
Hi @fun2life this looks like something in your web server configuration. Apparently the "/qr-code/https:/MYDOMAIN/meinequittung?hash" part is seen as a query string parameter so I think the path of your URL is converted to a query string parameter somehow. The QR code library or bundle itself does not perform any environment-specific handling or change the Request object but an incorrect server co

[2020-06-23 07:42] #35 closed, assigned to endroid

[2020-07-04 11:46] fun2life commented on #35
in case someone encounters the same problem when using Twig and qr_code_url()
`<img src="{{ qr_code_url(url('home', {'hash': qrhash}), {size:130, margin:0}) }}" />`

workaround that should do:
`<img src="{{ qr_code_data_uri(url('home', {'hash': qrhash}), {size:130, margin:0}) }}">`

[2020-10-13 20:46] ThomasLandauer opened #36 "Suggestion: Support Symfony's PHP configuration"
Symfony is moving from YAML configuration to PHP, see https://github.com/symfony/symfony/issues/37186

With this being my `config/routes/endroid_qr_code.php`:
[code]
... I'm getting this error:

So it looks like this file is blocking it: https://github.com/endroid/qr-code-bundle/blob/master/src/Resources/config/routes.yaml

Suggestion: Provide an alternative `src/Resources/config/routes.php`

[2020-10-20 14:45] kstefanini opened #37 "The logo appears above the qrcode and partially hides it"
Hi!

And thanks for this sweat bundle.
I'm trying to add a logo inside the generated qrcode using last bundle version, but the logo is covering the qrcode and so I am unable to scan it.

Here is a sample:
![test](https://user-images.githubusercontent.com/5382753/96602454-522d8580-12f3-11eb-8dd1-e6e20cf2c90f.png)

(Generated with default bundle routing : `https://127.0.0.1:8000/qr-code/hifolks.png?

[2020-10-20 15:41] kstefanini commented on #37
I can read [here](https://github.com/endroid/qr-code/issues/216) it's normal to have a logo covering qrcode.
Is there a possibility to define an empty space (with logo size, width and height) for the logo ?
I can't use logo feature as my logo doesn't display well when tinier than a square.

[2020-11-04 08:40] endroid commented on #37
Hi @kstefanini thank you for your question. I don't exactly know what you mean by "empty space" but I can tell that the current implementation only allows for an image overlay that is centered and has a certain width and height. No further logo-specific options than the path, width and height are currently available. Does that answer your question?

[2020-11-04 08:40] #37 closed, assigned to endroid

[2020-11-16 18:16] belgianguy commented on #36
This works for me:

[code]

Locally the `\\w\\W` regex does not stop `&,,,.png`, and it is able to generate a QR code for it.
That's why I use `'text' => '[a-zA-Z0-9.-]+'`, which does enforce a more strict set of characters to use.

[2020-11-26 10:54] ricohumme opened #38 "Add round_block_size_mode to QrCodeFactory"
Hi,

Currently the round_block_size option is available to add in the configuration yaml file, but the round_block_size_mode isn't.
Is there a particular reason for that option missing in the factory?

[2020-11-28 08:45] endroid commented on #38
Hi @ricohumme I see it was forgotten. Should be available now.

[2021-01-21 12:42] factorin-j opened #40 "Suggestion: Symfony contrib recipe"
Maybe we can make use of Symfony Flex contrib recipes instead of using `endroid/installer`?
refs: https://github.com/symfony/recipes-contrib

[2021-01-23 23:07] endroid commented on #40
Hi @factorin-j I do like Flex and configuration was originally via Flex but new versions and changes in configuration took too much time via merge requests and configuration was not always in sync with my repository version or was blocking changes on my side so at some point I chose a solution where my configuration lives with my code and is always up to date without any delaying factors which wor

[2021-01-23 23:07] #40 closed, assigned to endroid

[2021-01-25 15:24] fun2life opened #41 "PHP 8.0.x: Unable to generate image: check your GD installation"
After upgrading to PHP 8 and PHP 8.0.1 respectively, all my Servers (XAMPP and rented comercial space) throw the error

Unable to generate image: check your GD installation

wenn using the following code, or when passing custom parameters
`<img src="{{ qr_code_data_uri('02:af31007d151d4c568442f90d6d129ced#31f0677ea8cba7224341f313d8fda1d2121e5122#') }}">`

The exact same code works fine in PHP vers

[2021-01-26 19:02] endroid commented on #41
Hi @fun2life the library is not compatible with PHP 8 yet because of a dependency which is not compatible. However you can work around this issue as described in https://github.com/endroid/qr-code/issues/292. Good luck!

[2021-01-26 19:02] #41 closed, assigned to endroid

[2021-01-26 19:03] #38 closed, assigned to endroid

[2021-03-06 19:30] Huluti opened #42 "Can't use qr_code_url. Got an exception."
Hi!

I try to show a QR Code in Twig like this:

[code]
However, I get this error:

`An exception has been thrown during the rendering of a template ("Parameter "data" for route "qr_code_generate" must match "[^/]++" ("https://localhost:8000/yvNRQ" given) to generate a corresponding URL.").`

The url is a string : "https://localhost:8000/yvNRQ"

It doesn't even work with manually passing any url l

[2021-03-06 20:04] endroid commented on #42
Hi @Huluti QR code URLs indeed do not allow "/" characters, like the error message says. If you want to put a URL inside the QR /generate/{data} URL provided by the bundle you can try the following.

1. Override the routing requirements of the QR code generate URL provided by the bundle so you can pass a URL (read [this page](https://symfony.com/doc/4.2/routing/requirements.html) on how to do that

[2021-03-06 20:04] #42 closed, assigned to endroid

[2021-04-08 11:51] ThomasLandauer opened #44 "Create a twig function for getting the result object"
It would be nice to be able to fill the `width` and `height` attribute of the `<img>`.
Still remembering the discussion at https://github.com/endroid/qr-code/issues/95: Am I right that when setting `size: 137` in `config/packages/endroid_qr_code.yaml`, I can't be sure that the resulting QR code will have exactly 137 width and height?

If so, then I'd suggest to find a way to pass the actual size t

[2021-06-17 10:49] Lehj14 opened #49 "$defaultQrCodeBuilder doesnt seems to be getting the yaml value."
Hi,

So I have the following yaml config
[code]

and I inject the Builder Interface

[code]

then I tried to do this

[code]

But my QR code doesn't get the right encoding. When I add `->encoding(new Encoding('ISO-8859-1'))` it gives the right result, am i doing something wrong above?

[2021-06-20 09:25] endroid commented on #49
Hi @Lehj14 unfortunately I am unable to reproduce this: when I change the encoding via the configuration YAML I get a builder with the right encoding in my controller. If you change any of the other options, do you see those changes? In other words: are other parameters, like for instance "size" correctly set and does this only apply to "encoding"?

And is this your exact configuration? The follow

[2021-06-21 14:31] Lehj14 commented on #49
Hi sir, Thank you for your message, but I have change the size as 20 but it did not change it.

and yes, it is the exact config I got and it did not throw any error on my side, maybe that is causing it to not fully get the right config.

running the above command gives me this

[code]

[2021-06-27 06:53] endroid commented on #49
@Lehj14 unfortunately I am not able to reproduce this issue. The strange thing here is that in the QR code bundle, when the builder definition is created, first the options are set (unconditionally) and after that the builder is immediately registered. What version do you have installed? And can you put some debug statements in the createBuilderDefinition method of the EndroidQrCodeExtension class

[2021-06-28 15:22] tacman commented on #42
I used this bundle a few years ago, and I remember it working for urls.

Are you saying it's not really a url, but rather just a domain?  It seems to work with 'example.com', but not https://example.com.

[2021-06-28 15:37] tacman opened #50 "Generating a URL works in V3 but not V4"
[code]

What is "My QR Code" in this context?  The twig functions do generate a QR code, but I'm confused on how to generate a QR code using the twig "path" or "url" functions.

Intuitively, it seems like a twig call like

[code]

Would generate a QR code that, when scanned, would go to "https://example.com/123?mobile=true

I am almost positive this used to work, I found some code in an older proj

[2021-07-03 08:33] endroid commented on #50
@tacman The qr_code_url did not handle URLs correctly. This should be fixed in 4.0.4.

[2021-07-03 08:33] #50 closed, assigned to endroid

[2021-07-03 08:37] endroid commented on #42
@tacman The v4 qr_code_url did not handle URLs correctly. This should be fixed in 4.0.4.

[2021-07-03 08:39] endroid commented on #49
@Lehj14 Any luck yet? Please let me know when you tried the things I described above and I will reopen.

[2021-07-03 08:39] #49 closed, assigned to endroid

[2021-07-03 13:21] tacman commented on #50
In 4.0.4 it still doesn't encode the url parameters, just the domain name.

That is, https://ac.wip/qr-code/default/https://ac.wip/instance/goitia/Obj/datasheet/d2291d19-1646-49e2-8a91-43f8bbb4f8f9%3Fclean=1%26coreId=Obj

simply goes to https://ac.wip

![image](https://user-images.githubusercontent.com/619585/124355462-4b277880-dbdf-11eb-8b81-6041f030114e.png)

This worked in version 3.  That is

[2021-07-03 13:22] tacman commented on #50
Do you mean that it will be fixed (in the future), or that it should be fixed now?

[2021-07-03 17:01] endroid commented on #50
The qr_code_url (and path) method works like this: you just call the method and pass it any string data (in your case an URL but any string works). So you would have something like this.

    <img height="200" src="{{ qr_code_url('https://ac.wip/instance/goitia/Obj/datasheet/d2291d19-1646-49e2-8a91-43f8bbb4f8f9?clean=1&coreId=Obj') }}" />

When I put that in my template the qr_code_url method gene

[2021-07-03 17:57] tacman commented on #50
Yes, both are working.

My phone was asking me to go to the root domain, but another QR scanner
asks about the full path, so I was confused.

Anyway, yes, working as expected!

Thanks.

On Sat, Jul 3, 2021 at 12:01 PM Jeroen van den Enden <
***@***.***> wrote:

[2021-08-19 07:35] laurentmuller opened #51 "Add qr-code to existing FPDF"
It will be nice if we can add a qr-code to an existing PPDF document. Maybe with an function like this:

[code]

[2021-08-19 10:12] endroid commented on #51
Hi @laurentmuller thank you for your suggestion. I would like to keep the library and the writer interface as much FPDF agnostic as possible (as in: it the writer should ideally be replaceable with a different PDF library than FPDF). But if it can be done with not too many changes and the document can be passed via the $options array of the write method I am open to this feature.

[2021-08-20 11:50] laurentmuller commented on #51
I have created a [pull request](https://github.com/endroid/qr-code/pull/344) within this enhancement.

[2021-08-26 12:46] maks-rafalko opened #52 "Add a configuration setting to not load/create `config/routes/endroid_qr_code.yaml`"
In our application, we don't need the default rout to be exposed, but each time we delete  `config/routes/endroid_qr_code.yaml` it is created automatically.

Can we have a setting or somehow prevent the system from creating it?

[2021-08-26 13:22] mssimi commented on #52
I face similar problem. I have already migrated to php config, coz https://github.com/symfony/symfony/issues/37186

But still yaml config is recreated.

[2021-08-26 13:33] maks-rafalko commented on #52
Ok, solved it using https://github.com/endroid/installer's configuration, in particular:

`composer.json`

[code]

[2021-08-28 06:28] #52 closed, assigned to endroid

[2021-08-28 06:31] endroid commented on #52
The files should only be created upon installation, not on update so I think that is a bug. I will look at that. Still I think it is useful to mention this in the docs so I will create a reference to the endroid/install section on disabling auto-configuration. Thank you!

[2021-08-28 12:32] endroid commented on #51
Merged, thank you!

[2021-08-28 12:32] #51 closed, assigned to endroid

[2021-11-08 21:23] tonybob-tl opened #54 "Suggestion: Inform users to enable GD in PHP."
Great bundle/tool.

Many PHP environments may not have GD enabled (production environments for sure). It would be good to inform users in Installation or configuration instructions to make sure GD is enabled (via phpinfo() or similar).
Also, mention it is probably the cause of the "Unable to generate image: check your GD installation" error. Familiarity with GD extension to PHP is required to unde

[2021-12-06 18:36] stephanvierkant opened #55 "Drop support for PHP 7.3?"
I see this library still supports PHP 7.3, which is End of Life (EOL) as of today. What's the policy about PHP support? The only [supported versions](https://www.php.net/supported-versions.php) are 7.4, 8.0 and 8.1.

In my opinion libraries should drop support of PHP versions that are end of life, because it makes contributing to this library much easier.

[2021-12-06 18:57] endroid commented on #55
See https://github.com/endroid/qr-code-bundle/blob/master/composer.json. The change had already been made ;) Thanks anyway, I totally agree.

[2021-12-12 10:00] #55 closed, assigned to endroid

[2021-12-12 10:26] endroid commented on #54
Thank you @tlarsonlgdor. I made the exception more descriptive and added an extra note to the installation instructions in the readme for those who use the library to generate images.

[2021-12-12 10:26] #54 closed, assigned to endroid

[2021-12-21 13:06] Researcher33 opened #57 "Changeable content"
Hi, How can we update the information we added to the qr code without changing the qr code. The program will generate a qr code. The content will be changed without changing the qr code. How can i do ?

[2021-12-21 14:03] endroid commented on #57
Hi @Researcher33 the QR code is an encoded representation of its contents so the contents and the QR code are inextricably connected. In other words: if you change the QR code you change the contents and if you change the contents you change the QR code.

[2021-12-21 14:03] #57 closed, assigned to endroid

[2021-12-21 16:49] fmonts opened #58 "Required parameter $referenceType follows optional parameter $options in QrCodeRuntime.php on line 40"
Can this issue be fixed in qr-code-bundle 3.x?

I cannot update to 4 because I'm using [scheb/2fa-qr-code](https://packagist.org/packages/scheb/2fa-qr-code) that requires endroid/qr-code 3.x...

[2021-12-21 16:57] fmonts commented on #58
It's already fixed in 3.x-dev (https://github.com/endroid/qr-code-bundle/commit/abc481ea27d65d18c00ec01852869205b9512611 ), a tag to a stable version would be much appreciated, so we can use it in php8

[2021-12-21 20:20] endroid commented on #58
Hi @fmonts I will not create new tags in that branch simply because there are still people that rely on a stable ^3.x version and I cannot guarantee stability with new changes. However, you can still make use the 3.x branch and resolve the issue by using a Composer alias.

[code]

Good luck!

[2021-12-21 20:20] #58 closed, assigned to endroid

[2021-12-25 14:59] Researcher33 commented on #57
Then look this site. Me-qr.com You can change the content.

[2021-12-25 21:07] endroid commented on #57
Hi @Researcher33 the service you refer to puts a URL like https://me-qr.com/6942696 in your QR code and me-qr can change what that URL returns but the URL and QR code remain the same because given a QR code its contents can not change.

[2022-01-26 16:06] BackNot opened #60 "Is there going to be a support for Symfony 6?"
Hello, thanks for the bundle.

I was wondering if there is going to be a support for Symfony 6?

Thanks.

[2022-01-27 10:19] endroid commented on #60
Hi @BackNot version 4.0.7 supports Symfony 6. If you have any issues please let me know.

[2022-01-27 10:19] #60 closed, assigned to endroid

[2022-01-27 10:33] BackNot commented on #60
Hi @endroid. Thanks for the quick reaction. I still get the following deprecation message

`Method "Twig\Extension\ExtensionInterface::getFunctions()" might add "array" as a native return type declaration in the future. Do the same in implementation "Endroid\QrCodeBundle\Twig\QrCodeExtension" now to avoid errors or add an explicit @return annotation to suppress this message.`

I am using the 4.0.7

[2022-01-27 11:27] endroid commented on #60
Hi @BackNot I checked for you and if you look at https://packagist.org/packages/endroid/qr-code-bundle you see version 4.0.7 so the version was correctly registered in Packagist. And the deprecation is fixed in https://github.com/endroid/qr-code-bundle/commit/a41c94a33d3381e09ef5376d95ad87998319ab55 which will be included in a future release. Please note that a deprecation message is just a notice

[2022-02-24 14:12] alexgit2k opened #62 "PHP 8.1 deprecation notice in Twig/QrCodeExtension.php"
With PHP 8.1 I am getting the following deprecation notice:
`Method "Twig\Extension\ExtensionInterface::getFunctions()" might add "array" as a native return type declaration in the future. Do the same in implementation "Endroid\QrCodeBundle\Twig\QrCodeExtension" now to avoid errors or add an explicit @return annotation to suppress this message.
`

[2022-02-24 18:05] endroid commented on #62
See https://github.com/endroid/qr-code-bundle/issues/60

[2022-02-24 18:05] #62 closed, assigned to endroid

[2022-03-02 16:30] alexgit2k commented on #60
For the record, the deprecation notice also happens with Symfony 5.4.

Looking forward for the next release to have clean error-logs again.

[2022-06-20 10:39] OskarStark opened #63 "Issue when upgrading to 4.0"
[code]

[2022-06-20 10:39] OskarStark commented on #63
I tried `dev-master`, but the issue still exists. Anything I can do to help?

[2022-06-22 08:22] neokdev commented on #63
same problem here with symfony 5.4

works with 4.0.7 but not with 4.0.8
workaround in composer.json:
[code]

[2022-06-22 12:15] OskarStark commented on #63
Hi, thanks for the workaround.
When using it, I receive another error:

<img width="910" alt="CleanShot 2022-06-22 at 14 15 04@2x" src="https://user-images.githubusercontent.com/995707/175026565-eb49aae9-b822-4258-80ac-a8f5fd01b99f.png">

Am I missing sth. while upgrading?

[2022-06-27 15:24] endroid commented on #63
Hi @OskarStark unfortunately I am not able to reproduce this issue on my side, both 4.0.7 and 4.0.8 seem to install correctly. What does your configuration look like?

[2022-06-27 19:58] OskarStark commented on #63
Thanks for your feedback.
This is my configuration:
[code]

[2022-06-27 19:59] OskarStark commented on #63
The same error, even when using

[code]

[2022-06-27 20:00] OskarStark commented on #63
This is my composer.json
[code]

[2022-06-27 20:51] endroid commented on #63
Thank you. Could you try the following?

[code]

With the extra "default" layer. The new version supports multiple configurations. I thought 4.0.7 already required this syntax but apparently it doesn't. If that helps I think I have to make a proper exception or support older configurations.

[2022-06-27 21:02] OskarStark commented on #63
Thanks, that's working 👍

[2022-06-27 21:04] #63 closed, assigned to endroid

[2022-07-01 17:13] ok-ttc opened #64 "Symfony 6 (Class Not Found Exception): Attempted to load class "Builder" from namespace "Endroid\QrCode\Builder""
Hello,

After the update to Symfony 6, I receive this error:

`Attempted to load class "Builder" from namespace "Endroid\QrCode\Builder".
Did you forget a "use" statement for "PhpParser\Builder"?`

I am using Twig to display QR Codes. Like so:

[code]

I am truly no expert and am learning. Does anyone have an idea what might be causing this?

Thank you for your guidance in this.

[2022-07-03 16:36] endroid commented on #63
Hi @OskarStark I created a fallback

[2022-07-03 18:30] OskarStark commented on #63
Thank you 🙏

[2022-08-03 08:21] tobearlabs commented on #64
Check if your config is really updated:
https://github.com/endroid/qr-code-bundle/tree/master/.install/symfony/config/packages
Then the error should be gone.

[2022-08-18 13:36] #64 closed, assigned to endroid

[2022-10-04 14:44] endroid commented on #36
I'm closing this as I decided to keep the .yaml as the default.

[2022-10-04 14:44] #36 closed, assigned to endroid

[2022-10-04 14:51] endroid commented on #44
I think this one can still be useful. I will look into this myself. Thank you! We will be working with the result here so I think the way to go here is adding a getMatrix() method to the resultinterface and passing the matrix to each result. At this point the matrix is an internal implementation detail but this change will enable developers to post-process results easier.

[2022-10-04 15:58] ThomasLandauer opened #65 "Do not regenerate `endroid_qr_code.yaml`"
I just converted my `endroid_qr_code.yaml` to `endroid_qr_code.php`, but I keep getting the YAML file automatically regenerated. I didn't investigate yet when this happens exactly (`composer update`?), wanted to ask you first:
Since you don't want to drop YAML anytime soon (see https://github.com/endroid/qr-code-bundle/issues/36#issuecomment-1267118736), would it be possible to stop (re)generating

[2022-10-04 17:29] endroid commented on #44
Implemented in 4.1.1.

[2022-10-04 17:29] #44 closed, assigned to endroid

[2022-10-04 17:33] endroid commented on #65
Hi @ThomasLandauer indeed it looks like the behavior changed. I have this on my todo list. For now you should be able to disable auto configuration by completely disabling it or by excluding the specific package.

[code]

[2022-10-04 17:33] #65 closed, assigned to endroid

[2022-10-04 19:17] ThomasLandauer commented on #65
Do you think it's worth mentioning this in README?

[2022-10-04 19:20] endroid commented on #65
No it's an issue in a different library.

[2022-10-04 19:34] ThomasLandauer commented on #44
OK, so is this the recommended usage now?:
[code]
Or is there a simpler way?

[2022-11-01 10:43] tacman opened #66 "Feature: add logo, colors in twig call"
I'd like to be able to set the logo and other options when making the twig call, and I don't think it's possible right now.

The way LiipImagineBundle allows run-time parameters is to pass them as an argument in the twig call, |image_filter('widen', {width: 430}), so I was wonder if there was some way to do that in the QR code generator, e.g.

[code]

Alternatively, can you document how to create